.book_appointment_page {
    width: 100%;
    padding: 50px 0;
    padding-left: 5%;
    
}

.book_appointment_page .book_appointment_container {
    width: 100%;
    height: 480px;
    display: flex;
    align-items: center;
    /* background: #e2f9fe; */
}

.book_appointment_container .book_appointment_form_container {
    width: 40%;
    height: 100%;
    background: #F2F2F2;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 50px 40px;
}

.book_appointment_form_container .book_appoinment_title_container {
    display: flex;
    flex-direction: column;
}

.book_appoinment_title_container h2 {
    font-size: 33px;
    color: #BD74A6;
    font-weight: 500;
}

.book_appoinment_title_container h1 {
    font-size: 43px;
    color: #0E55AE;
}

.book_appointment_form_container p {
    font-size: 16px;
    line-height: 1.2;
    width: 520px;
    color: #181818;
    font-weight: 200;
}

.book_appointment_form_container form {
    display: grid;
    grid-template-columns: repeat(2 , 50%);
    gap: 10px;
}
.book_appoinment_form_input_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.book_appoinment_form_input_container input {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 3px #181818;
    text-indent: 10px;
    font-size: 17px;
    transition: all .3s linear;
}

.book_appoinment_form_input_container input:focus {
    box-shadow: 0 0 10px #181818;
    outline: inset 1px solid #afafaf;
    outline-color:  #afafaf;
}

.book_appoinment_form_input_container .book_appoinment_button_accordion {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 5px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 10px;
    font-size: 16px;
    box-shadow: 0 0 3px #181818;
}


.book_appointment_form_container form button {
    width: 100%;
    height: 50px;
    background: #0E55AE;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}
.book_appointment_form_container form button:hover {
    background: linear-gradient(to right , #0E55AE , #BD74A6);
}


/* img container */

.book_appointment_container .book_appointment_img_container {
    width: 60%;
    height: 100%;
    padding: 15px 0;
}

.book_appointment_img_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}