
.result{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px auto;
}
.Rounded{
    position: relative;
    width: 200px;
    border-radius: 50%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.circular_item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.circular_result{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 20px auto;
}
.img{
   
    z-index: 100;
    width: 100px;
    height: 100px;
}
.CircularProgressbar-path {
  stroke: red;
}
.CircularProgressbar-trail {
  stroke: gray;
}
.CircularProgressbar-text {
  fill: yellow;
}
.CircularProgressbar-background {
  fill: green;
}